<html>
    <style>
        html {
            height: 100%;
        }

        body {
            background-image: url(https://www.incimages.com/uploaded_files/image/970x450/getty_842491618_408247.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>
<body>
    <div style="position: absolute; top: 50%; left: 10%;margin: -200.75px 0 0 0">
        <h1 style="margin: 10px 0px;color:rgb(255, 255, 255);text-align:center; font-family: Microsoft JhengHei;font-size: 3em;">Yahoo拍賣--買家的評論情緒</h1>
        <p style="color: black; text-align:center; font-family: Microsoft JhengHei;font-size: 1.3em; font-weight: bold;">如果想得到大家對於某賣家的情緒，請貼上賣家的"賣家評價"網址</p>
        <!-- <div style="position: absolute; left: 50%; margin: 0 0 0 -740px; display: table;"></div> -->
            <form action="author" method="post" style="position: absolute; left: 50%; margin: 0 0 0 -248.8px; display: table;">
                <input style="height: 30px; width: 400px;" type="text" name="a" />
                <input style="height: 30px;" type="submit" value="開始分析網站" />
                <!-- <input type="submit" value="顯示結果" /> -->
            </form>
    </div>
    <!-- </div> -->
</body>

</html>